.container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 30px;
}

.story-button {
  background-color: #f04e30;
  color: white;
  border: none;
  padding: 25px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;

}

.story-button:nth-child(odd) {
  background-color: #ff7f27;
}

.story-button:nth-child(even) {
  background-color: #1ca63a;
}

.story-button:hover {
  opacity: 0.8;
}

.input-section {
  background-color: #1ca63a;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.create-button {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #FB2C36;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s;
}

.create-button:hover {
  background-color: #FB2C36;
}

.create-button:disabled {
  background-color: #968787;
  cursor: not-allowed;
  transform: none;
}

.input-section {
  background: #28A745; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.input-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}

.input-wrapper {
  background: white;
  padding: 17px;
  border-radius: 6px;
  text-align: left;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.input-wrapper:focus-within {
  border: 2px solid #FB2C36; 
}

.input-field {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 8px;
  outline: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.result {
  background-color: #a833ff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.generated-text {
  font-size: 1.2rem;
}

.highlight {
  background-color: white;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin: 2px;
}

.try-again-button {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}